body {
  background: rgb(0, 72, 80);
  color: rgb(0, 174, 176);
  padding: 10px;
  font-family: Arial, sans-serif;
}

#all-contents {
  max-width: 800px;
  margin: auto;
}

/* navigation menu */
nav {
  background: rgb(50, 50, 50);
  margin: 0 auto;
  display: flex;
  padding: 10px;
  border-radius: 100px;
}

h1 {
  display: flex;
  align-items: center;
  color: rgb(0, 174, 176);
  flex: 1;
  margin: 0;
}

#nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-li {
  display: inline-block;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: rgb(0, 174, 176);
}

#subscribe:hover {
  color: red;
}

.nav-li a:hover {
  color: green;
}

#name {
  text-align: center;
}

/* main container area beneath menu */
main {
  background: rgb(50, 50, 50);
  display: flex;
  margin-top: 20px;
  border-radius: 75px;
}

.sidebar {
  margin-right: 25px;
  padding: 10px;
}

.sidebar-img {
  width: 400px;
  max-height: 250px;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 50px;
}

.content {
  flex: 1;
  padding: 15px;
}

/* interests section styles */
.interests {
  border: 4px ridge silver;
  border-radius: 50px;
  padding: 8px;
  margin-top: 20px;
}

#interests {
  text-align: center;
}

h2,
h3 {
  margin: 0px;
}

/* Portfolio styles */
.content h1 {
  color: rgb(0, 174, 176);
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: rgb(40, 40, 40);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 100px;
}

#portfolio li:hover {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKAAAACgCAMAAAC8EZcfAAAAFVBMVEV5VTqWbEq5hVxZPSmHh4dsbGx0WEQBhbVwAAABX0lEQVR4nO3aMW7DMBBEUSlycv8jp+M0H+MN3JDBn5Lkrh7VLGD5+lq5IRfk7xXPSu+HawIFChQocHNgkof0hjn3WqEKukjv90AEChQoUODuQBwqKznYzxGrnyMM1goUKFCgwM2BGTTfK3SwD8JU3BDq0msFChQoUOCJQFpLcVjYZniRvIRphUCBAgUK3B2YEKHzn5r+DCSs0LAVKFCgQIF7AmmYUUk+2vSGdPe+21+CQIECBQo8B9gb3hCiZnc6OqlWoECBAgWeA5yW9DUak1NW7yJQoECBAs8BJngQ2vRzPTRO8SUIFChQoMADgdM2WaPLTQkJ/sQnUKBAgQKPAV4QatMfl7+P9avnIn1XoECBAgXuDpyWTKmfpA9HgQIFChS4O5BYyc9KR9OF8zgaYdnt/QQKFChQ4J7AaWva7WuUfk6gQIECBf4X4HQ65sMLnaOKNxi6iECBAgUK3Bv4C9QPb7nPrMNBAAAAAElFTkSuQmCC);
}

#portfolio a {
  text-decoration: none;
  color: rgb(0, 174, 176);
}

#my-stuff {
  margin-left: 20px;
}
